@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bs-primary: #b4b998;
  --bs-primary-rgb:180, 185, 152;

  --bs-light: #f6f3ed;
  --bs-light-rgb:246, 243, 237;

  --bs-secondary: #ccac85;
  --bs-secondary-rgb: 204, 172, 133;

  --bs-dark: #5a3e37;
  --bs-dark-rgb: 90, 62, 55;
}

.btn {
  font-family: "Poppins", sans-serif;
}

.btn-primary {
    --bs-btn-color: var(--bs-light);
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);

    --bs-btn-hover-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-dark);
    --bs-btn-hover-border-color: var(--bs-dark);
}

.btn-dark {
    --bs-btn-color: var(--bs-light);
    --bs-btn-bg: var(--bs-dark);
    --bs-btn-border-color: var(--bs-dark);

    --bs-btn-hover-color: var(--bs-light);
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
}

.btn-secondary {
    --bs-btn-color: var(--bs-light);
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);

    --bs-btn-hover-color: var(--bs-secondary);
    --bs-btn-hover-bg: var(--bs-dark);
    --bs-btn-hover-border-color: var(--bs-dark);
}

.navbar-brand {
  color: var(--bs-dark)
}

.navbar {
  font-family: "Poppins", sans-serif;
  color: var(--bs-dark);
}

h2, h3, h4, h5 {
  font-family: "Poppins", sans-serif;
}

h1, body {
  font-family: "EB Garamond", serif;
}

#hero-home {
  background-color: #E4E6DB;
  background-image: url(../images/home-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: auto;
}

#hero-menu {
  background-color: #E4E6DB;
  background-image: url(../images/menu-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: auto;
}


.card-img-top {
  width: 100%;
  height: 15vw; 
  object-fit: cover; 
}

section:not(#hero):not(#cta){
  padding: 60px 0;
}

@media(min-width: 993px){
  section:not(#hero):not(#cta){
    padding: 100px 0;
  }
}