@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bs-primary: #b4b998;
  --bs-primary-rgb:180, 185, 152;

  --bs-light: #f6f3ed;
  --bs-light-rgb:246, 243, 237;

  --bs-secondary: #ccac85;
  --bs-secondary-rgb: 204, 172, 133;

  --bs-dark: #5a3e37;
  --bs-dark-rgb: 90, 62, 55;
}

.btn-primary {
    --bs-btn-color: var(--bs-light);
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--primary);

    --bs-btn-hover-color: var(--primary);
    --bs-btn-hover-bg: var(--bs-light);
    --bs-btn-hover-border-color: var(--light);
}

.navbar-brand {
  color: var(--bs-light)
}

body {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3 {
  font-family: "EB Garamond", serif;
}

#hero {
  height: 800px;
  background-color: #E4E6DB;
  background-image: url(../images/home-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
}

#hero .d-flex {
  height: 800px;
}

section:not(#hero):not(#cta){
  padding: 60px 0;
}

@media(min-width: 993px){
  section:not(#hero):not(#cta){
    padding: 100px 0;
  }
}